
.rodape{
    position: absolute;
    bottom: 15px;
    margin: 0 5px;
    background-color: var(--primary);
    display: flex;
    justify-content: center;
    width: 80%;
    max-width: 576px;
    border-radius: 50px;
    z-index: 1;
    padding: 20px;
}
@media screen and (max-width:576px){
    .rodape{
        width: 100%;
        max-width: 100%;
    }
}
.endereco{
    display: inline;
    width: 90%;
    height: 70px;
    border-radius: 25px;
    padding: 0 15px;
}
.pesquisarEndereco{
    position: absolute;
    height: 70px;
    right: 20px;
    border-radius: 25px;
    min-width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
