:root{
    --white: #FFF;
    --primary: #08a0c2;
    --secondary: #BCD635;
    --mainBackground: lightblue;
    --altura-navbar: 20%;
}

body{
    background-color: var(--primary);
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#container{
    background-color: var(--mainBackground);
    height: 100vh;
    position: relative;
    padding: 0;
}

.color-primary{
    background-color: var(--primary);
}

.color-secondary{
    background-color: var(--secondary);
}


